<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokeunotor</title>
</head>
<body>
    <div>
        <span> Nom Français du Pokémon : {{nomFR}} </span>
        <br>
        <span> Nom Anglais du Pokémon : {{nomEN}} </span>
        <br>
        <span> Type(s) du Pokémon : {{types}} </span>
        <br>
        <span> Sprite du pokémon : <br> <img src="{{sprite}}"> </span>
        <br>
        <span> Statistiques du pokémon : {{stats}} </span>

    </div>
</body>
</html>