<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokeunotor</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>

    <header class="bg-primary text-white p-3 fixed-top">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">

                <img src="{{ url_for('static', filename='img/keunotor.png') }}" width="100px" height="100px" alt="Keunotor">

            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="{{ url_for('index') }}">
                Accueil
              </a>

              <a class="navbar-item" href="{{ url_for('dashboard') }}">
                Pokémons capturés
              </a>
            </div>

              {% if not current_user.is_authenticated %}
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button is-light" href="{{ url_for('register') }}">
                        <strong>S'enregistrer</strong>
                      </a>
                      <a class="button is-light" href="{{ url_for('login') }}">
                          <strong>Se connecter </strong>
                      </a>
                    </div>
                  </div>
                </div>
              {% else %}

                <a class="button is-light" href="{{ url_for('logout') }}">
                    <strong> Logout </strong>
                </a>
              {% endif %}
          </div>
        </nav>
    </header>

    <body>
        <div class="container">
            <div class="pokeball"></div>
            <h1 class="title">Pokeunotor</h1>

            <form method="POST" action="/pokemon">
                {{ form.csrf_token }}
                <div class="field has-addons">
                    <div>
                        {{ form.search(class_ = "input is-info is-rounded", id_ = "searchInput") }}
                    </div>
                    <div class="control">
                        <input class="button is-info is-light" type="submit" value="Search">
                    </div>
                </div>
                <ul id="suggestionsList"></ul>
            </form>


        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    </body>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Pokeunotor</strong> by Thibault Lombart, Maël Demory et Brayan Bouzrou
        </p>
      </div>
    </footer>
</html>