<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokeunotor</title>
</head>
<body>

    <h1>Pokeunotor</h1>

    {% if form %}
        <form method="POST" action="/pokemon">
            {{ form.csrf_token }}
            {{ form.search.label }} {{ form.search() }}
            <input type="submit" value="Search">
        </form>
    {% endif %}

    {% if search %}
        <p> Hello test : {{search}} ! Super</p>
    {% endif %}

</body>
</html>