<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokeunotor</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="pokeball"></div>
            <h1 class="title">Pokeunotor</h1>

            <form method="POST" action="/pokemon">
                {{ form.csrf_token }}
                <div class="field has-addons">
                    <div>
                        {{ form.search(class_ = "input is-info is-rounded") }}
                    </div>
                    <div class="control">
                        <input class="button is-info is-light" type="submit" value="Search">
                    </div>
                </div>

                <div class="field is-grouped content has-text-centered" style="margin-left: 30px">
                    <p class="control">
                        <a class="button is-success" href="/login">
                            Login
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-success" href="/register">
                            Register
                        </a>
                    </p>
                </div>

            </form>
        </div>
    </body>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Pokeunotor</strong> by Thibault Lombart, Maël Demory et Brayan Bouzrou
        </p>
      </div>
    </footer>
</html>