<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Login</title>
</head>

<header class="bg-primary text-white p-3 fixed-top">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">

                <img src="{{ url_for('static', filename='img/keunotor.png') }}" width="100px" height="100px" alt="Keunotor">

            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="{{ url_for('index') }}">
                Accueil
              </a>

              <a class="navbar-item" href="{{ url_for('dashboard') }}">
                Pokémons capturés
              </a>
            </div>
          </div>
        </nav>
    </header>

<body>
    <div class="container">
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <h2>Login</h2>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <label for="email">Email:</label>
            {{ form.email(class="form-control") }}
            <label for="password">Password:</label>
            {{ form.password(class="form-control") }}
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</body>
</html>
