<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/index.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
    <title>Register</title>
</head>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/keunotor.png') }}" width="100px" height="100px"
                alt="Keunotor">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn text-dark" href="{{ url_for('index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn text-dark" href="{{ url_for('dashboard') }}">Pokémons capturés</a>
                </li>
            </ul>

            {% if not current_user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn text-dark" href="{{ url_for('register') }}">S'enregistrer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn text-dark" href="{{ url_for('login') }}">Se connecter</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

<body>

    <div class="form-container">
        <form method="POST" action="{{ url_for('register') }}" >
            {{ form.hidden_tag() }}
            <h2 class="title">S'enregistrer</h2>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
                <label for="username">Nom d'utilisateur :</label>
                {{ form.username(class="form-control", required=True) }}
                <label for="email">Adresse mail :</label>
                {{ form.email(class="form-control", required=True) }}
                <label for="password">Mot de passe :</label>
                {{ form.password(class="form-control", required=True) }}
                <label for="confirm_password">Confirmez le mot de passe :</label>
                {{ form.confirm_password(class="form-control", required=True) }}
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</body>
<footer class="footer fixed-bottom">
      <div class="content has-text-centered">
        <p>
          <strong>Pokeunotor</strong> by Thibault Lombart, Maël Demory et Brayan Bouzrou
        </p>
      </div>
    </footer>
</html>